---

- name: Ensure archives folder exists
  ansible.builtin.file:
    dest: "{{ install_archives }}"
    state: directory
    mode: '0700'

- name: Download
  block:
    - name: Import Github repo release download
      ansible.builtin.import_tasks: github-repo-download.yml
      vars:
        gh_repo: "{{ auditd_laurel_repo }}"
        gh_release: "tags/{{ auditd_laurel_github_version }}"
        gh_json_query: "assets[?ends_with(browser_download_url, 'x86_64-glibc.tar.gz')].browser_download_url"
      when:
        - auditd_laurel_dl_github | bool
    - name: Fetch laurel binary
      ansible.builtin.get_url:
        url: "{{ auditd_laurel_url }}"
        dest: "{{ install_archives }}/{{ auditd_laurel_url | basename }}"
        checksum: "{{ auditd_laurel_checksum | default(omit) }}"
        mode: '0644'
      register: dl_result
      until: dl_result is success
      when:
        - not auditd_laurel_dl_github | bool
  rescue:
    - name: Fetch laurel binary on orchestrator
      ansible.builtin.get_url:
        url: "{{ auditd_laurel_url }}"
        dest: "/tmp/{{ auditd_laurel_url | basename }}"
        checksum: "{{ auditd_laurel_checksum | default(omit) }}"
        mode: '0644'
      delegate_to: localhost
      register: dl_result
      until: dl_result is success
    - name: Copy laurel binary
      ansible.builtin.copy:
        src: "/tmp/{{ auditd_laurel_url | basename }}"
        dest: "{{ install_archives }}/{{ auditd_laurel_url | basename }}"
        mode: '0644'

- name: Ensure Unarchive tools are present
  ansible.builtin.package:
    name: ['tar', 'gzip']
    state: present

- name: Unarchive
  block:
    - name: Unarchive laurel binary
      ansible.builtin.unarchive:
        src: "{{ install_archives }}/{{ auditd_laurel_url | basename }}"
        dest: "/usr/local/sbin"
        mode: '0755'
        remote_src: yes
        include: laurel
        creates: "/usr/local/sbin/laurel"
  rescue:
    # FIXME! ansible bug when using include
    - name: Unarchive laurel binary without include
      ansible.builtin.unarchive:
        src: "{{ install_archives }}/{{ auditd_laurel_url | basename }}"
        dest: "/tmp"
        mode: '0755'
        remote_src: true
    - name: Copy laurel to sbin
      ansible.builtin.copy:
        src: "/tmp/{{ auditd_laurel_url | basename | regex_replace('.tar.gz$', '') }}/bin/{{ item }}"
        dest: "/usr/local/sbin/{{ item }}"
        mode: '0755'
        owner: root
        remote_src: true
      loop:
        - laurel
        - laurel2audit
    - name: Ensure /tmp permissions are 1777
      ansible.builtin.file:
        path: "/tmp"
        mode: '1777'
        owner: root
        group: root

- name: Add laurel user
  ansible.builtin.user:
    name: "{{ auditd_laurel_user }}"
    home: /nonexistent
    create_home: false
    system: yes

- name: Ensure /etc/laurel directory exists
  ansible.builtin.file:
    path: /etc/laurel
    state: directory
    mode: '0755'

- name: Set laurel configuration
  ansible.builtin.template:
    src: "{{ auditd_laurel_config }}"
    dest: /etc/laurel/config.toml
    mode: '0644'

- name: Set laurel audit plugin configuration
  ansible.builtin.template:
    src: "{{ auditd_laurel_plugin }}"
    dest: "{{ auditd_plugins }}/laurel.conf"
    mode: '0644'
  notify:
    - Restart auditd
    - Restart auditd - rhel7+

- name: Ensure laurel reporting script exists
  ansible.builtin.template:
    src: "{{ auditd_laurel_reporting_template }}.j2"
    dest: "/usr/local/scripts/{{ auditd_laurel_reporting_template | basename }}"
    mode: '0755'

- name: Add logrotate configuration for laurel log
  ansible.builtin.template:
    src: logrotate-laurel.j2
    dest: /etc/logrotate.d/laurel
    mode: '0644'
    validate: 'logrotate -dv %s'
