{{ ansible_managed | comment }}
# Exclusions
{% for r in auditd_exclusion_rules %}
{{ r }}
{% endfor %}
{% if (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int >= 16) or (ansible_os_family == "RedHat" and ansible_distribution_major_version|int >= 7) %}
{% for r in auditd_exclusion_rules2 %}
{{ r }}
{% endfor %}
{% endif %}

{% if (ansible_os_family == "Debian") %}
# Debian family
{% for r in auditd_exclusion_rules_debian %}
{{ r }}
{% endfor %}
{% endif %}

{% if (ansible_os_family == "RedHat") %}
# RedHat family
{% for r in auditd_exclusion_rules_redhat %}
{{ r }}
{% endfor %}
{% endif %}
