{{ ansible_managed | comment }}
# Exclusions
{% for r in auditd_exclusion_rules %}
{{ r }}
{% endfor %}
{% if (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version']|int >= 16) or (ansible_facts['os_family'] == "RedHat" and ansible_facts['distribution_major_version']|int >= 7) %}
{% for r in auditd_exclusion_rules2 %}
{{ r }}
{% endfor %}
{% endif %}

{% if (ansible_facts['os_family'] == "Debian") %}
# Debian family
{% if ansible_facts['userspace_bits'] == '64' %}
{% for r in auditd_exclusion_rules_debian_b64 %}
{{ r }}
{% endfor %}
{% endif %}
{% endif %}

{% if (ansible_facts['os_family'] == "RedHat") %}
# RedHat family
{% if ansible_facts['userspace_bits'] == '64' %}
{% for r in auditd_exclusion_rules_redhat_b64 %}
{{ r }}
{% endfor %}
{% endif %}
{% endif %}
