{{ ansible_managed | comment }}
###################
# Log all commands executed by root
###################
{% if auditd_rule_rootcmd_all %}
{% if ansible_userspace_bits == '64' %}
-a exit,always -F arch=b64 -F euid=0 -S execve -k rootcmd
{% endif %}
-a exit,always -F arch=b32 -F euid=0 -S execve -k rootcmd
{% else %}
{% if ansible_userspace_bits == '64' %}
-a exit,always -F arch=b64 -F euid=0 -S execve -F auid!=4294967295 -k rootcmd
{% endif %}
-a exit,always -F arch=b32 -F euid=0 -S execve -F auid!=4294967295 -k rootcmd
{% endif %}
