#!/bin/sh

export export PATH=/usr/bin:/bin
umask 077

f=/var/log/audispd/audispd.log
date=$(date +%Y%m%d)
echo
echo
echo "      AUDISPD DAILY REPORT ${date} for ${f}"
echo
echo

# Small extract to validate file and fields
echo "*** head"
head -5 "${f}"
echo

{% if ansible_distribution == "Ubuntu" and ansible_distribution_major_version|int >= 22 %}
cut_type_f=6
cut_syscall_f=9
cut_exe_f=31
cut_keyword_f=32
{% else %}
#cut_type_f=8
#cut_syscall_f=11
#cut_exe_f=33
#cut_keyword_f=35
cut_type_f=7
cut_syscall_f=10
cut_exe_f=32
cut_keyword_f=33
{% endif %}

echo "*** per type"
cut -d ' ' -f "${cut_type_f}" "${f}" | sort | uniq -c | sort -nr | head -20
echo "*** per type+syscall+exe"
cut -d ' ' -f "${cut_type_f},${cut_syscall_f},${cut_exe_f}" "${f}" | sort | uniq -c | sort -nr | head -20

echo "*** SECCOMP uid+exe+syscall"
grep SECCOMP "${f}" | cut -d ' ' -f 10,15,18 | sort | uniq -c | sort -nr | head -20
echo "*** AVC apparmor action+operation+profile"
grep AVC "${f}" | cut -d ' ' -f 9,10,11 | sort | uniq -c | sort -nr | head -20
echo "*** AVC apparmor denied action+operation+profile"
grep -E 'AVC.*apparmor="DENIED"' "${f}" | cut -d ' ' -f 9,10,11 | sort | uniq -c | sort -nr | head -20

echo "*** SYSCALL per keyword"
grep SYSCALL "${f}" | cut -d ' ' -f "${cut_keyword_f}" | sort | uniq -c | sort -nr
echo "*** SYSCALL per syscall,exe,keyword"
grep SYSCALL "${f}" | cut -d ' ' -f "${cut_syscall_f},${cut_exe_f},${cut_keyword_f}" | sort | uniq -c | sort -nr

{% if ansible_distribution == "Ubuntu" and ansible_distribution_major_version|int >= 22 %}
cut_f="9,10,19,20,30,31,32"
{% else %}
cut_f="10,11,20,21,31,32,33"
#cut_f="11,12,21,22,32,33,35"
{% endif %}
echo "*** rootcmd"
grep 'key="rootcmd"' "${f}" | cut -d ' ' -f $cut_f | sort | uniq -c | sort -nr | head -20
echo "*** sigkill"
grep 'key="sigkill"' "${f}" | cut -d ' ' -f $cut_f | sort | uniq -c | sort -nr
echo "*** tmp_write"
grep 'key="tmp_write"' "${f}" | cut -d ' ' -f $cut_f | sort | uniq -c | sort -nr
echo "*** time-change"
grep 'key="time-change"' "${f}" | cut -d ' ' -f $cut_f | sort | uniq -c | sort -nr
echo "*** recon"
grep 'key="recon"' "${f}" | cut -d ' ' -f $cut_f | sort | uniq -c | sort -nr
echo "*** admin_user_home"
grep 'key="admin_user_home"' "${f}" | cut -d ' ' -f $cut_f | sort | uniq -c | sort -nr
echo "*** sensitive_file"
grep 'key="sensitive_file"' "${f}" | cut -d ' ' -f $cut_f | sort | uniq -c | sort -nr

echo "*** sensitive_file CREATE+DELETE"
tmpfile=$(mktemp /var/tmp/tmp-audispd-report-XXX)
tmpfile2=$(mktemp /var/tmp/tmp-audispd-report2-XXX)
grep -E ' type=PATH .* name="(/etc|/var/www)/.*".*nametype=(CREATE|DELETE)' "${f}" | cut -d ' ' -f 10,17,14 | sort | uniq -c | sort -nr > "${tmpfile}" && \
	echo -n "Total unique files: $(wc -l < "${tmpfile}")" && echo && \
	echo -n "Total unique apt .#lk0x files: $(grep -Ec '/etc/(apt|apt/trusted.gpg.d)/\.#lk0x*' "${tmpfile}")" && \
	echo && \
	grep -vE '/etc/(apt|apt/trusted.gpg.d)/\.#lk0x*' "${tmpfile}" > "${tmpfile2}" && \
	head -20 "${tmpfile2}" && echo "[...]" && tail -20 "${tmpfile2}"

rm "${tmpfile}" "${tmpfile2}"
find {{ audispd_reporting_dest }} -name 'audispd-report-*' -mtime +{{ audispd_logrotate_days|int }} -exec rm {} \; 2>/dev/null
