## {{ ansible_managed }}
## /etc/logrotate.d/audispd
/var/log/osquery/audispd.log {
    rotate {{ auditd_logrotate_days | default(30) | int }}
    daily
    missingok
    notifempty
    delaycompress
    compress
    create 640 root adm
    sharedscripts
}
