{{ ansible_managed | comment }}
## /etc/logrotate.d/audispd
{{ audisp_syslog_target }} {
    rotate {{ auditd_logrotate_days | default(30) | int }}
    daily
    missingok
    notifempty
    delaycompress
    compress
    create 640 {{ syslog_user }} adm
    sharedscripts
{% if auditd_reporting %}
    prerotate
        test ! -x /usr/local/scripts/{{ audispd_reporting_template | basename }} || /usr/local/scripts/{{ audispd_reporting_template | basename }} > {{ audispd_reporting_dest }}/audispd-report-`date +%Y%m%d` 2>&1
    endscript
{% endif %}
}
