{{ ansible_managed | comment }}
## /etc/logrotate.d/audispd
{{ audisp_syslog_target }} {
    rotate {{ auditd_logrotate_days | default(30) | int }}
    daily
    missingok
    notifempty
    delaycompress
    compress
    create 640 root adm
    sharedscripts
}
