{{ ansible_managed | comment }}
{% if audisp_syslog_target is defined and audisp_syslog_target %}
if $programname == 'audispd' then            {{ audisp_syslog_target }}
{% if rsyslog_v is defined and rsyslog_v and rsyslog_v|string is version('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
if $programname == 'audit' then            {{ audisp_syslog_target }}
{% if rsyslog_v is defined and rsyslog_v and rsyslog_v|string is version('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
{% endif %}
